.main-tab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem;

  .tab-1,
  .tab-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 2rem;
    height: 10rem;
    width: 10rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:active {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
@media screen and (max-width: 1025px) and (min-width: 320px) {
  .main-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;}
  .flight-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5rem;

    form {
      width: 100%;
    }
  }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
  .flight-details {
    display: flex;

    flex-wrap: wrap;
  }
  form {
    width: 100%;
  }
}
