<div class="ft-comp row">
  <div class="first-slot col">
    <img src="../../../assets/images/PNG/Air-India_L.png" />
    <p>© 2022 Air India.</p>
  </div>
  <div class="second-slot col">
    <ul>
      <a href="/home">About Us</a>
    </ul>
    <ul>
      <a href="/home">Contact Us</a>
    </ul>
    <ul>
      <a href="/home">Frequently Asked Questions</a>
    </ul>
  </div>
  <div class="third-slot col">
    <ul>
      <a href="/home">Privacy Policy</a>
    </ul>
    <ul>
      <a href="/home">Terms of Use</a>
    </ul>
  </div>
  <div class="forth-slot col">
    <a href="/home"
      ><img src="../../../assets/Footer-icons/youtube_icon.svg"
    /></a>
    <a href="/home"
      ><img src="../../../assets/Footer-icons/facebook_icon.svg"
    /></a>
    <a href="/home"
      ><img src="../../../assets/Footer-icons/instagram_icon.svg"
    /></a>
    <a href="/home"
      ><img src="../../../assets/Footer-icons/linkedIn_icon.svg"
    /></a>
  </div>
</div>
