.overall-layout {
  text-align: center;
}
.layout {
  display: flex;
  margin: auto;
  padding: 20px;
  width: fit-content;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  top: 3rem;
  img {
    width: 10rem;
  }
  .text {
    padding: 1rem;
  }
}
