
<div class="layout">
  <div class="seatsbox">
    <div
      class="seat"
      [ngStyle]="{ 'background-color': seat.value ? 'rgb(32, 32, 85)' : '' }"
      *ngFor="let seat of seats"
      ngbTooltip="{{ seat.seat }}"
      (click)="seatlayout(seat.seat)"
      (click)="openVerticallyCentered(content)"
    ></div>
  </div>
  <div class="legend">
    <span>
      <div class="seatbooked"></div>
      <div>Seat booked</div></span
    >
    <span
      ><div class="notbookedseats"></div>
      <div>Not booked</div></span
    >
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Passenger Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      (click)="rest()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="PassengerDetails">
    <div class="entry">
      <h3>Seat Booking</h3>
      <form
        [formGroup]="PassengerDetailsEntryForm"
        (ngSubmit)="PassengerDetailsEntry()"
      >
        <div class="form-group">
          <label for="flight_number">Flight Number:</label>

          <select
            class="form-control"
            id="flight_number"
            formControlName="flight_number"
            autocomplete="off"
          >
            <option
              *ngFor="let flight of flightData"
              value="{{ flight.flight_number }}"
            >
              {{ flight.flight_number }}
            </option></select
          ><br />
        </div>
        <div class="form-group">
          <label for="passport">Passport:</label>
          <input
            type="text"
            id="passport"
            formControlName="passport"
            autocomplete="off"
          /><br />
        </div>
        <div class="form-group">
          <label for="passengerName">Passenger Name:</label>
          <input
            type="text"
            id="passengerName"
            formControlName="passenger_name"
            autocomplete="off"
          /><br />
        </div>
        <div class="form-group flex-elements">
          <label for="seatNumber">Seat Number:</label>
          <input
            type="text"
            id="seatNumber"
            formControlName="seat_number"
            autocomplete="off"
          /><br />
        </div>
        <div>
          <div class="form-group">
            <label for="bookingDate">Booking Date:</label>
            <input
              type="datetime-local"
              id="bookingDate"
              formControlName="booking_date"
              autocomplete="off"
            /><br />
          </div>
        </div>

        <div class="form-group">
          <label for="ticketPrice">Ticket Price:</label>
          <select
            class="form-control"
            id="ticketPrice"
            formControlName="ticket_price"
            autocomplete="off"
          >
            <option value="8000">Business Class:8000</option>
            <option value="4500">Economy:4500</option>
          </select>
          <br />
        </div>
        <div class="form-group">
          <label for="services">Ancillary Services</label>
          <select
            class="form-control"
            id="services"
            formControlName="services"
            autocomplete="off"
            multiple
          >
            <option *ngFor="let service of ancillary" value="{{ service }}">
              {{ service }}
            </option></select
          ><br />
        </div>

        <button
          type="submit"
          value="Submit"
          value="Submit"
          class="btn btn-primary"
          [disabled]="PassengerDetailsEntryForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

